:root {
    --button_color: #aa3904;
    --active_button_color: #aa0101;
    --page_background_color: #f1f1f1;
    --other_text_color: #ffffff;
    --text_on_bg_color: #111;
    --navBar_color: #333;
    --collapsible_color: #777;
    --open_collapsible_color: #555;

}


@media (prefers-color-scheme: dark) {
    :root {
        --button_color: #aa3904;
        --active_button_color: #aa0101;
        --page_background_color: #0D1117;
        --text_on_bg_color: #c9d1d9;
        --other_text_color: #f0f6fc;
        --navBar_color: #161B22;
        --collapsible_color: #13233A;
        --open_collapsible_color: #1c3453;
    }
  }

/* Cool idea, if screen is small make menu behave differently. help at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp
    NO DON DO THAT, better way to do it. Look up how to detect if a browser is mobile, css
@media screen and (max-width: 600px) {
    .li a {
      float: none;
      width: 100%;
    }
  }
*/
  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navBar_color);
    }

li {
    float: left;
    font-size: 20px;
    color: var(--other_text_color);
    }

li a {
    display: block;
    color: var(--other_text_color);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    }

li a:hover {
    background-color: #111;
    }
    
.active {
    background-color: var(--button_color);
    }

    
.active:hover {
    background-color: var(--active_button_color);
    }

.button {
    border-radius: 25px;
    border: none;
    color: var(--other_text_color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--button_color);
    }

.button:hover {
        background-color: var(--active_button_color);
        }

.collapsible {
    border-radius: 25px;
    background-color: var(--collapsible_color);
    color: var(--other_text_color);
    cursor: pointer;
    padding: 18px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }

button.active, .collapsible:hover {
  background-color: var(--open_collapsible_color);
    }

.collapsible:after {
    content: '\002B';
    color: var(--text_on_bg_color);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }

.collapsible.active:after {
    content: "\2212";
    }

.content {
    padding: 0 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--page_background_color);
    }

body {
    background-color: var(--page_background_color);
    color: var(--text_on_bg_color);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }