:root {
    --button_color: #aa3904;
    --active_button_color: #aa0101;
}

/* Cool idea, if screen is small make menu behave differently. help at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp
    NO DON DO THAT, better way to do it. Look up how to detect if a browser is mobile, css
@media screen and (max-width: 600px) {
    .li a {
      float: none;
      width: 100%;
    }
  }
*/


/*another idea, if dark mode change colors. help at https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
@media (prefers-color-scheme: dark) {
    .avtive   { background-color:  #f1f1f1; }
  }
  */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
    float: left;

    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    }

li a:hover {
    background-color: #111;
    }
    
.active {
    background-color: var(--button_color);
    }

    
.active:hover {
    background-color: var(--active_button_color);
    }

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--button_color);
    }

.button:hover {
        background-color: var(--active_button_color);
        }

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }

button.active, .collapsible:hover {
  background-color: #555;
    }

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }

.collapsible.active:after {
    content: "\2212";
    }

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    }